@import './variables';

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: $primary-color;
    margin-right: 100px;
}

.logo img{
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            h2 {
                color: $secondary-color;
                font-size: 30px;
                margin-bottom: 0;
            }
            img {
                height: 200px;
                width: 200px;
                border-radius: 100px;
                object-fit: cover;
            }
        }
        .photographer_origine{
            color: $primary-color;
        }
        .photographer_slogan{
            font-weight: 700;
        }
        .photographer_price{
            color: grey;
        }
        p{
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 4px;
            font-size: 14px;
        }   
    }
}


