@import './variables';

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $primary-color;
    border-radius: 5px;
    cursor: pointer;
}
.bground{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4);

}
.modal {
    position: absolute;
    z-index: 5;
    opacity: 1;
    top: 5%;
    left: 30%;
    border-radius: 5px;
    background-color: $secondary-color;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    margin: auto;
    height: 80%;
    header {
        justify-content: space-between;
        width: 100%;
        img {
            cursor: pointer;
        }
        h2 {
            font-size: 54px;
            font-weight: normal;
            text-align: center;
        }     
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    label {
        color: #312E2E;
        font-size: 24px;
    }
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95px;
        align-items: start;
        margin-bottom:0;
        padding: 0;
        div{
            height: 20px;
            margin-bottom:1px;
        }
    }
    input {
        width: 100%;
        height: 42px;
        border: none;
        border-radius: 5px;
        margin-bottom: 0;
        font-size: 18px;
    }
    .customerMessage{
        height: 160px;
    }
    button{
        margin-top: 20px;
    }
}

.photograph-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    .photograph-contact{
        padding: 0;
        margin: 0;
    }
    .contact_button{
        height: 60px;
        width: 150px;
        font-size: 1rem;
    }
    .profile_info{

        .profile_name{
            font-size: 70px;
            font-weight: 500;
            margin: 0;
            color: $secondary-color;
        }
        .profile_origine{
            color: $primary-color;
            font-weight: 500;
        }
    }
    img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
    }
}
main{
    margin: 20px 100px;

    .preferences{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;

        .orderBy{
            font-size: 16px;
            font-weight:500;
            color: white;
            padding: 11px;
            padding-right: 20px;
            width: 150px;
            height: 50px;
            border: none;
            background-color: $primary-color;
            border-radius: 5px;
            margin-bottom: 20px;
            cursor: pointer;

            option{
                padding: 11px;
                padding-right: 20px;
                width: 150px;
                height: 50px;
                border-bottom: #FAFAFA;
            }
        }
    }

    .photos-list{
        display: flex;
        
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px;
        figure{
            margin: 20px 20px;
            flex: 3 3 380px;
            img{
                width: 100%;
                height: 250px;
                margin-bottom: 10px;
                object-fit: cover;
                margin: 10 100px;
                border-radius: 8px;
            }
            video{
                width: 100%;
                height: 250px;
                margin-bottom: 10px;
                object-fit: cover;
                margin: 10 100px;
                border-radius: 8px;
            }
            .photo-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: -5px;
                height: 20px;
                .photo-title{
                    color: $primary-color;
                }
                .like-button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 60px;
                    height: 30px;
                    border: none;
                    background-color: #FAFAFA;
                    i{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.hourly-price{
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 260px;
    height: 20px;
    background-color: $tertiary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    .total-like{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100px;
    }
}

.lightbox-modal{
    max-width: 90%;
    max-height: 90%;
    .lightbox-img{
        object-fit: cover;
        width: 70vw;
        height: 80vh;
    }
}