#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.bground {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.modal {
  position: absolute;
  z-index: 5;
  opacity: 1;
  top: 5%;
  left: 30%;
  border-radius: 5px;
  background-color: #D3573C;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 35px;
  margin: auto;
  height: 80%;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 54px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 24px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 95px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 0;
  padding: 0;
}

form div div {
  height: 20px;
  margin-bottom: 1px;
}

form input {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 18px;
}

form .customerMessage {
  height: 160px;
}

form button {
  margin-top: 20px;
}

.photograph-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

@media screen and (max-width: 1050px) {
  .photograph-header {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 650px) {
  .photograph-header {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.photograph-header .photograph-contact {
  padding: 0;
  margin: 0;
}

.photograph-header .contact_button {
  height: 60px;
  width: 150px;
  font-size: 1rem;
}

.photograph-header .profile_info .profile_name {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  color: #D3573C;
}

@media screen and (max-width: 650px) {
  .photograph-header .profile_info .profile_name {
    font-size: 40px;
  }
}

.photograph-header .profile_info .profile_origine {
  color: #901C1C;
  font-weight: 500;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1050px) {
  .photograph-header img {
    margin-top: 15px;
  }
}

main {
  margin: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

@media screen and (max-width: 865px) {
  main {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
  main {
    margin-top: 220px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

main .preferences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .preferences .orderBy {
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 11px;
  padding-right: 20px;
  width: 150px;
  height: 50px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
}

main .preferences .orderBy option {
  padding: 11px;
  padding-right: 20px;
  width: 150px;
  height: 50px;
  border-bottom: #FAFAFA;
}

main .photos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

main .photos-list figure {
  margin: 20px 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3 3 380px;
          flex: 3 3 380px;
}

main .photos-list figure :hover {
  cursor: pointer;
}

main .photos-list figure img {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10 100px;
  border-radius: 8px;
}

main .photos-list figure video {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10 100px;
  border-radius: 8px;
}

main .photos-list figure .photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
  height: 20px;
}

main .photos-list figure .photo-info .photo-title {
  color: #901C1C;
}

main .photos-list figure .photo-info .like-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

main .photos-list figure .photo-info .like-container :hover {
  cursor: pointer;
}

main .photos-list figure .photo-info .like-container .like-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 30px;
  border: none;
  background-color: #FAFAFA;
}

main .photos-list figure .photo-info .like-container i {
  font-size: 1.2rem;
}

.hourly-price {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 260px;
  height: 20px;
  background-color: #DB8876;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  font-weight: 700;
}

.hourly-price .total-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100px;
}

.lightbox_bground {
  background-color: rgba(0, 0, 0, 0.815);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.lightbox_bground .lightbox_modal {
  z-index: 10;
  overflow: auto;
  -webkit-animation: lightboxIn .5s;
          animation: lightboxIn .5s;
}

.lightbox_bground .lightbox_modal .lightbox_next,
.lightbox_bground .lightbox_modal .lightbox_prev {
  border: none;
  background: url(../assets/icons/arrow.svg) center center/32px 66px no-repeat;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  margin-top: -14px;
  z-index: 11;
  opacity: .2;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.lightbox_bground .lightbox_modal .lightbox_prev {
  right: auto;
  left: -5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightbox_bground .lightbox_modal .lightbox_next {
  left: auto;
  right: -5%;
}

.lightbox_bground .lightbox_modal .lightbox_close {
  z-index: 12;
  background-color: transparent;
  border: none;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 5%;
  right: 3%;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.lightbox_bground .lightbox_modal .lightbox_next:hover,
.lightbox_bground .lightbox_modal .lightbox_prev:hover,
.lightbox_bground .lightbox_modal .lightbox_close:hover {
  opacity: 1;
}

.lightbox_bground .lightbox_modal .lightbox_container img {
  margin: 50px;
  max-width: 100vw;
  max-height: 90vh;
}

.lightbox_bground .lightbox_modal .lightbox_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox_bground .lightbox_modal .video-lightbox {
  max-width: 90vw;
  max-height: 98vh;
  margin-top: 1%;
}

@-webkit-keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo img {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  width: 100%;
}

.photographer_section article {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer_section article a {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.photographer_section article a h2 {
  color: #D3573C;
  font-size: 30px;
  margin-bottom: 0;
}

.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographer_section article .photographer_origine {
  color: #901C1C;
}

.photographer_section article .photographer_slogan {
  font-weight: 700;
}

.photographer_section article .photographer_price {
  color: grey;
}

.photographer_section article p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */